<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="dev-menu">
  <style>
    nav {
      background-color: #bbb;
      height: calc(100vh - 120px);
      padding-top: 10px;
    }
  </style>
  <template>
    <iron-ajax
      id="addTask"
      url="https://mywheeler.net/test/Taskmanager/app/controllers/createTask.jsp"
      handle-as="json"
      on-response="updateTaskResponse"
      debounce-duration="300">
    </iron-ajax>
    <nav>
      <div class="col-xs-12">
        <button class="btn btn-lg btn-block" on-tap="addTask">Add Task</button>
      </div>
    </nav>
  </template>

  <script>
    Polymer({
      is: "dev-menu",
       addTask: function() {
        bootbox.prompt("Enter the name of this Task:", function(result) {
          console.log(result)
          this.$.addTask.params = {
            'name': name,
            'description': "added description",
            'user': "test3"
          };
          this.$.addTask.generateRequest();
        })


          //  fixes issue with bootbox overlay causing text boxes to be covered
        window.setTimeout(function() {
          $(".bootbox").removeAttr("tabIndex");
        }, 200);
      
      },       
        updateTaskResponse: function(request){
          var response = request.detail.response;
                     if(response.successful){
                           bootbox.alert('Task created!');
        }}
      
       
    });
  </script>
</dom-module>
