<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html"/>

<link rel="import" href="Tasks.html">

<dom-module id="dev-task-manager">
	<style>
		#panel{
			margin-top:20px;
			height: 50vh;
		}
		.panel{
			height: 100%;
			overflow: scroll;
		}
	</style>

	<template> 
		<app-location route="{{route}}" use-hash-as-path></app-location>
		<app-route route="{{route}}" data="{{data}}" tail="{{subRoute}}" pattern="/:page"></app-route>
		<iron-pages id="views" selected="{{data.page}}" attr-for-selected="id" fallback-selection="tasks">
			<dev-tasks id="tasks"></dev-tasks>
		</iron-pages>
	</template>

    <script>
	    Polymer({
	        is: 'dev-task-manager'
	    });
    </script>
</dom-module>