<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<!-- Add to this component the controls to update,and delete the task -->
<!-- we would usually call controllers to do this work, however -->
<!-- use the following urls to hit our external API for this test -->
<!-- DELETE: https://mywheeler.net/test/Taskmanager/app/controllers/deleteTask.jsp -->
<!-- UPDATE: https://mywheeler.net/test/Taskmanager/app/controllers/updateTask.jsp -->
<!-- each api takes a task_id, the update will also accept name, completed, and description -->
<dom-module id="dev-task">
  <style>
    button {
      padding: 0px 10px;
    }
  </style>
  <template>
    <iron-ajax
      auto
      url="https://mywheeler.net/test/Taskmanager/app/controllers/deleteTask.jsp"
      handle-as="json"
      method="DELETE"
      body='{"task_id":{{task.task_id}}}'
      request="deleteTasksRequest"
      debounce-duration="300"
      content-type="application/json"
    ></iron-ajax>
    <iron-ajax
      auto
      url="https://mywheeler.net/test/Taskmanager/app/controllers/updateTask.jsp"
      handle-as="json"
      method="PUT"
      request="updateTask"
      debounce-duration="300"
      content-type="application/json"
    ></iron-ajax>
    <li>
      {{task.name}}
      <button class="btn btn-lg btn-danger" on-tap="deleteTasksRequest">
        Delete
      </button>
      <button class="btn btn-lg btn-warning" on-tap="updateTasksRequest">
        Update
      </button>
    </li>
  </template>

  <script>
    Polymer({
      is: "dev-task",
      deleteTasksRequest: function(task_id) {
        console.log(task_id);
        //write a way to capture task_id and send to the api
        bootbox.confirm({
          message: "Are you sure you want to delete this task?",
          buttons: {
            confirm: {
              label: "Yes",
              className: "btn-success"
            },
            cancel: {
              label: "No",
              className: "btn-danger"
            }
          },
          callback: function(result) {
            console.log("delete confirmation: " + result);
            if (result === "true") {
              return task_id;
            }
          }
        });
      },
      updateTasksRequest: function() {
        bootbox.prompt("Enter the new name of this Task:", function(result) {
          console.log(result);
          let json = {
            name: result,
            description: "updated task: " + result,
            user: "Glen Larsen"
          };
          updateTask = function(event) {
            console.log("updateTask function event:");
            console.log(event);
            return event;
          };
          updateTask(json);
        });
        //write the update capture for task_id, name, completed, description
      }
    });
  </script>
</dom-module>
